<!DOCTYPE html>
  <html lang="en-US">
  <head>
    <% include ../partials/head.ejs %>
  </head>
  <body>
    <% include ../partials/header.ejs %>
    <div class="container">
    <p>Welcome to <%= title %></p>
    <p>
      Once we identify the folder you want to rename, we'll be able to rename every file in every camera folder (using the camera folder to determine the camera name).  We'll also generate .fcpxml files with synched multiclips and MC_CC_Ex projects if it's a timecode-synched studio shoot.  And we'll log all the info we can find to a .json file we'll put in the shoot folder and our MongoDB database.
    </p>

<div class="a_form">
    <form action="/rename/run_rename" method="post">
      <fieldset>
      <legend>Who was there?</legend>
        <p>
          check a box for each person you recognize:
        </p>
        <div>
          <input type="checkbox" id="Marlon" name="people" value="Marlon">
          <label for="Marlon">Marlon</label>
        </div>
        <div>
          <input type="checkbox" id="Lauren" name="people" value="Lauren">
          <label for="Lauren">Lauren</label>
        </div>
        <div>
          <input type="checkbox" id="Noelle" name="people" value="Noelle">
          <label for="Noelle">Noelle</label>
        </div>
        <div>
          <input type="checkbox" id="Katie" name="people" value="Katie">
          <label for="Katie">Katie</label>
        </div>
        <div>
          <input type="checkbox" id="Sarah" name="people" value="Sarah">
          <label for="Sarah">Sarah</label>
        </div>
        <div>
          <input type="checkbox" id="Mara" name="people" value="Mara">
          <label for="Mara">Mara</label>
        </div>
        <div>
          <input type="checkbox" id="Mike" name="people" value="Mike">
          <label for="Mike">Mike</label>
        </div>
        <div>
          <input type="checkbox" id="Sadikshya" name="people" value="Sadikshya">
          <label for="Sadikshya">Sadikshya</label>
        </div>
        <div>
          <input type="checkbox" id="no_one_else" name="people" value="no_one_else">
          <label for="no_one_else">no_one_else</label>
        </div>
        <div>
          <input type="checkbox" id="unnamed_others" name="people" value="unnamed_others">
          <label for="unnamed_others">Others I can't name.</label>
        </div>
        <div>
          <input type="checkbox" id="other" name="people" value="other">
          <label for="other">Other</label>
          <input type="text" id="otherValue" name="other">
        </div>
      </fieldset>
      <br />
      <fieldset>
        <legend>Where is the footage?</legend>
        <p>Enter the complete URL for the shootfolder you'd like run the script on.</p>
        <input class="text_box" type="text" name="folderPath" value="/Users/mk/Downloads/test">


        <div>
          <button type="submit">Go</button>
        </div>
      </fieldset>
    </form>
</div>


  </div>

<% include ../partials/foot.ejs %>
