<!DOCTYPE html>
  <html lang="en-US">
  <head>
    <% include ../partials/head.ejs %>
  </head>
  <body>
    <% include ../partials/header.ejs %>
    <div class="container">
    <pre><%= results %>
    </pre>
    <% include ../partials/errors.ejs  %>
    </div>
<% include ../partials/foot.ejs %>
