<!DOCTYPE html>
  <html lang="en-US">
  <head>
    <% include ../partials/head.ejs %>
  </head>
  <body>
    <% include ../partials/header.ejs %>
    <div class="container">
      <p>Welcome to <%= title %></p>
      <p>
        When you hit submit, we're going to run thelocalworkflow's transcode script on a file or a folder at the specified crf.
      </p>
      <form action="/transcode/run_transcode" method="post">
        <fieldset>
          <legend>
            Do you want to run transcode on a file or a folder?
          </legend>
          <input type="radio" name="urlType" value="file" checked> file
          <br />
          <input type="radio" name="urlType" value="folder"> folder
          <br />
        </fieldset>
        <br />
        <fieldset>
          <legend>
            Input file or folder path here:
          </legend>
          <input class="text_box" type="text" id="pathInput" name="path">
          <input type="submit" value="GO">
        </fieldset>
        <br />
        <fieldset>
          <legend>
            Input options here:
          </legend>
          <input type="number" id="crfValue" name="crf" min="0" max="52">
          <input type="submit" value="GO">
        </fieldset>
      </form>
    </div>  
<% include ../partials/foot.ejs %>
