<nav class="navbar navbar-toggleable-md bg-inverse navbar-inverse fixed-top">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand playful" href="/">the local workflow</a>
  <div class="collapse navbar-collapse ml-auto" id="navbarNavDropdown">
    <ul class="nav navbar-nav ml-auto">
      <li class="nav-item dropdown ml-auto">
        <a class="nav-link dropdown-toggle text-right playful-small" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          the tools
        </a>
        <div class="dropdown-menu dropdown-menu-right bg-inverse" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item text-right text-redblack" href="/m2s">m2s</a>
          <a class="dropdown-item text-right text-redblack" href="/transcode">transcode</a>
          <a class="dropdown-item text-right text-redblack" href="/rename">rename</a>
          <a class="dropdown-item text-right text-redblack" href="/slack/invideo">slackinvideo</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle text-right playful-small" href="database/overview" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          the database
        </a>
        <div class="dropdown-menu dropdown-menu-right bg-inverse" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item text-right text-redblack" href="/database/">Database Overview</a>
           <a class="dropdown-item text-right text-redblack" href="/database/shoots">List Shoots</a>
           <a class="dropdown-item text-right text-redblack" href="/database/people">List People</a>
           <a class="dropdown-item text-right text-redblack" href="/database/moments">List Moments</a>
           <div class="dropdown-divider"></div>
           <a class="dropdown-item text-right text-redblack" href="/database/shoot/create">Create a Shoot</a>
           <a class="dropdown-item text-right text-redblack" href="/database/moment/create">Create a Moment</a>
           <a class="dropdown-item text-right text-redblack" href="/database/person/create">Create a Person</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle text-right playful-small" href="/tests" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          tests
        </a>
        <div class="dropdown-menu dropdown-menu-right bg-inverse" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item text-right text-redblack" href="/tests/rollover">rollover</a>
            <a class="dropdown-item text-right text-redblack" href="/database/segments">List Segments</a>
            <a class="dropdown-item text-right text-redblack" href="/database/segment/create">Create a Segment</a>
            <a class="dropdown-item text-right text-redblack" href="/tests/jquery_forms">jQuery form tests</a>
            <a class="dropdown-item text-right text-redblack" href="/tests/mongo1">mongo test 1</a>
            <a class="dropdown-item text-right text-redblack" href="/tests/mongo2">mongo test 2</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
<!--
<header>
  <ul id="nav_bar">
   <li class="nav_link"><a class="nav_link_a" href="/m2s">m2s</a></li>
   <li class="nav_link"><a class="nav_link_a" href="/rename">rename</a></li>
   <li class="nav_link"><a class="nav_link_a" href="/test">test</a></li>
   <li class="nav_link"><a class="nav_link_a" href="/transcode">transcode</a></li>
   <li class="nav_link"><a class="nav_link_a" href="/database">database</a></li>
   <li class="nav_link"><a class="nav_link_a" href="/">home</a></li>
  </ul>
</header>
  <h1><%= title %></h1> -->
