<nav class="navbar navbar-toggleable-md bg-inverse navbar-inverse fixed-top">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="/">the local workflow</a>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          the tools
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="/m2s">m2s</a>
          <a class="dropdown-item" href="/transcode">transcode</a>
          <a class="dropdown-item" href="/rename">rename</a>
          <a class="dropdown-item" href="/slackinvideo">slackinvideo</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="database/overview" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          the database
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="/database/">Database Overview</a>
           <a class="dropdown-item" href="/database/shoots">List Shoots</a>
           <a class="dropdown-item" href="/database/people">List People</a>
           <a class="dropdown-item" href="/database/moments">List Moments</a>
           <a class="dropdown-item" href="/database/segments">List Segments</a>
           <a class="dropdown-item" href="/database/shoot/create">Create a Shoot</a>
           <a class="dropdown-item" href="/database/moment/create">Create a Moment</a>
           <a class="dropdown-item" href="/database/person/create">Create a Person</a>
           <a class="dropdown-item" href="/database/segment/create">Create a Segment</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="/tests" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          tests
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="/tests/rollover">rollover</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
<!--
<header>
  <ul id="nav_bar">
   <li class="nav_link"><a class="nav_link_a" href="/m2s">m2s</a></li>
   <li class="nav_link"><a class="nav_link_a" href="/rename">rename</a></li>
   <li class="nav_link"><a class="nav_link_a" href="/test">test</a></li>
   <li class="nav_link"><a class="nav_link_a" href="/transcode">transcode</a></li>
   <li class="nav_link"><a class="nav_link_a" href="/database">database</a></li>
   <li class="nav_link"><a class="nav_link_a" href="/">home</a></li>
  </ul>
</header>
  <h1><%= title %></h1> -->
