<h2>FUNCTIONS</h2>
<ul id="database_functions">
 <li><a href="/database/shoots">List Shoots</a></li>
 <li><a href="/database/people">List People</a></li>
 <li><a href="/database/moments">List Moments</a></li>
 <li><a href="/database/segments">List Segments</a></li>
 <li><a href="/database/shoot/create">Create a Shoot</a></li>
 <li><a href="/database/moment/create">Create a Moment</a></li>
 <li><a href="/database/person/create">Create a Person</a></li>
 <li><a href="/database/segment/create">Create a Segment</a></li>
</ul>
