<!DOCTYPE html>
  <html lang="en-US">
  <head>
    <% include ../partials/head.ejs %>
  </head>
  <body>
    <% include ../partials/header.ejs %>
    <div class="container">
    <p>
    Let's create a person.
    </p>
    <h2>PERSON  </h2>
    <form method="POST" action="/database/person/create">
      <div class="form-group">
        <label> First Name:
        </label>
        <input id="firstName" class="form-control" type="text" placeholder="first name" name="firstName" value="" />
        <label> Last Name:
        </label>
        <input id="lastName" class="form-control" type="text" placeholder="last name here" name="lastName" value="" />
        <label> Title:
        </label>
        <input id="title" class="form-control" type="text" placeholder="title here" name="title" value="" />
        <button type="submit">Submit</button>
      </div>
    </form>
    </div>
<% include ../partials/foot.ejs %>
