<!DOCTYPE html>
  <html lang="en-US">
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <% include ../partials/header.ejs %>
      <div class="container">
        <h1><%= title %></h1>
        <p>
          Welcome to <%= title %>
        </p>
        <p>
          here are the segments currently in the database.
        </p>
        <ul>
          <% for (i=0; i<segment_list.length; i++ ){ %>
            <li><a href=
              <%=  segment_list[i].url %>
              >
              <%= "submitted at " + segment_list[i].submissionTs +
                  " and testArray is " +
                  JSON.stringify(segment_list[i].ioArray, null, 4)  %>
            </a>
            </li>
          <% } %>
        </ul>
      </div>
    <% include ../partials/foot %>
