<!DOCTYPE html>
  <html lang="en-US">
  <head>
    <% include ../partials/head.ejs %>
  </head>
  <body>
    <% include ../partials/header.ejs %>
    <div class="container">
      <p>
      Let's create a segment.  Paste in some <a href='/database/segment/create/csv'>fcpxml and csv</a> or do it <a href='/database/segment/create/manual'>manually</a>?
      </p>
    <% include ../partials/errors.ejs  %>
    </div>
<% include ../partials/foot.ejs %>
