<!DOCTYPE html>
  <html lang="en-US">
  <head>
    <% include ../partials/head %>
  </head>
  <body>
        <% include ../partials/header.ejs %>
    <p>Welcome to <%= title %></p>

    <p>
      here are the shoots currently in the database.
    </p>
    <ul>
    <% for (i=0; i<shoot_list.length; i++ ){ %>

    </shoot_list.length;>
      <li>
        <%= shoot_list[i].shootId %>

      </li>


  <%  }  %>


    </ul>
  </body>
<% include ../partials/foot %>
