<!DOCTYPE html>
  <html lang="en-US">
  <head>
    <% include ../partials/head.ejs %>
  </head>
  <body>
    <% include ../partials/header.ejs %>
    <p>Welcome to <%= title %></p>
    <p>
    Shoot details below.
    </p>

    <p>

      <%= JSON.stringify(theShoot, null, 4) %>
    </p>


  </body>
<% include ../partials/foot.ejs %>
