<!DOCTYPE html>
  <html lang="en-US">
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <% include ../partials/header.ejs %>
    <div class="container">
      <p>Welcome to <%= title %></p>
      <p>
        here are the shoots currently in the database.
      </p>
      <ul>
        <% for (i=0; i<shoot_list.length; i++ ){ %>
          <li>
            <a href=
              <%= ("/database/shoot/" + shoot_list[i]._id) %>
              >
              <%= shoot_list[i].shootId %>
            </a>
          </li>
        <% } %>
      </ul>
    </div>
  <% include ../partials/foot %>
