<!DOCTYPE html>
  <html lang="en-US">
  <head>
    <% include partials/head %>
    <link rel='stylesheet' href='/css/m2s_output.css'>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p>
      List of users and IDs.
    </p>
    <table style="width:400px;">
      <%
        result.members.forEach(function(member){
      %>
      <tr>
        <td>
          <strong>Name: </strong><%= member.profile.real_name %>
        </td>
        <td>
          <strong>Id: </strong><%= member.id %>
        </td>
      </tr>
      <%
        });
      %>
    </table>
  </body>
<% include partials/foot %>
