<!DOCTYPE html>
  <html lang="en-US">
  <head>
    <% include partials/head.ejs %>
  </head>
  <body>
    <% include partials/header.ejs %>
    <header class="clearfix" style="height: 40vh; background: url(/images/textbook-lego.jpg) no-repeat center center; background-size: cover; margin-bottom: 30px; background-attachment: fixed">
    </header>

    <div class="container">
      <div class="display-1 text-uppercase text-center" style='background: white; color: rgba(0,0,0,.8); border-radius:20px; padding:20px; margin-bottom:20px; font-family:"Avenir Next"; font-size: 50px; font-weight: 800; letter-spacing: 0.5px'>
      </div>
      <div class="row">
        <div class="col-4" style="background-color: rgba(0,0,0,0.0)">
        </div>
          <div class="col-4 rounded text-center" style="height: 90px; padding: 20px; background-color: rgba(0,0,0,0.8)">
            <a href="/rename">
              <div>
                <h1 class="text-white avenir">rename</h1>
              </div>
            </a>
          </div>
          <div class="col-4" style="background-color: rgba(0,0,0,0.0)">
          </div>
          <div class="col-4" style="background-color: rgba(0,0,0,0.0)">
          </div>
          <div class="col-4 rounded text-center" style="background-color: rgba(0,0,0,0.8); height: 90px; padding: 20px; margin-top: 20px">

                <a href="/m2s">
                  <div>
                    <h1 class="text-white avenir">m2s</h1>
                  </div>

                </a>
          </div>
          <div class="col-4" style="background-color: rgba(0,0,0,0.0)">
          </div>
          <div class="col-4" style="background-color: rgba(0,0,0,0.0)">
          </div>
          <div class="col-4 rounded text-center" style="height: 90px; padding: 20px; background-color: rgba(0,0,0,0.8)">
            <a href="/rename">
              <div>
                <h1 class="text-white avenir">rename</h1>
              </div>
            </a>
          </div>
          <div class="col-4" style="background-color: rgba(0,0,0,0.0)">
          </div>
          <div class="col-4" style="background-color: rgba(0,0,0,0.0)">
          </div>
          <div class="col-4 rounded text-center" style="height: 90px; padding: 20px; background-color: rgba(0,0,0,0.8)">
            <a href="/rename">
              <div>
                <h1 class="text-white avenir">rename</h1>
              </div>
            </a>
          </div>
          <div class="col-4" style="background-color: rgba(0,0,0,0.0)">
          </div>
          <div class="col-4" style="background-color: rgba(0,0,0,0.0)">
          </div>
          <div class="col-4 rounded text-center" style="height: 90px; padding: 20px; background-color: rgba(0,0,0,0.8)">
            <a href="/rename">
              <div>
                <h1 class="text-white avenir">rename</h1>
              </div>
            </a>
          </div>
          <div class="col-4" style="background-color: rgba(0,0,0,0.0)">
          </div>
          <div class="col-4" style="background-color: rgba(0,0,0,0.0)">
          </div>
          <div class="col-4 rounded text-center" style="height: 90px; padding: 20px; background-color: rgba(0,0,0,0.8)">
            <a href="/rename">
              <div>
                <h1 class="text-white avenir">rename</h1>
              </div>
            </a>
          </div>
      </div><!-- row -->
    </div><!-- container -->
  </body>
<% include partials/foot.ejs %>
