<!DOCTYPE html>
  <html lang="en-US">
  <head>
    <% include partials/head.ejs %>
  </head>
  <body>
    <% include partials/header.ejs %>
    <p>Welcome to <%= title %></p>
    <p>
      When you hit submit, we're going to run thelocalworkflow's m2s script on every .fcpxml file in
      <%= theFolderPath %>
    </p>



  <form action="/m2s/run_m2s" method="post">
    <fieldset>
      <legend>
        Do you want to run m2s or no?
      </legend>

      <input type="radio" name="webexport" value="yes" checked> Yes
      <br />
      <input type="radio" name="webexport" value="no"> No
      <br />
    </fieldset>
    <br />
      <fieldset>
      <legend>
        Input fcpxml path here:
      </legend>
      <input class="text_box" type="text" id="otherValue" name="fcpxmlPath">

      <input type="submit" value="GO">
    </fieldset>

  </form>


  </body>
<% include partials/foot.ejs %>
