<!DOCTYPE html>
  <html lang="en-US">
  <head>
    <% include partials/head.ejs %>
  </head>
  <body>
    <% include partials/header.ejs %>
    <div class="content">

    <p>Welcome to <%= title %></p>
    <p>
      Once we identify the folder you want to rename, we'll be able to rename every file in every camera folder (using the camera folder to determine the camera name).  We'll also generate .fcpxml files with synched multiclips and MC_CC_Ex projects if it's a timecode-synched studio shoot.  And we'll log all the info we can find to a .json file we'll put in the shoot folder and our MongoDB database.
    </p>

    <form action="/rename/run_rename" method="post">
      Is your stuff in one of the usual spots?  If so, just hit the appropriate button below:
      <br />
      <button type="submit" name="drive" value="monday">Monday Drive</button>
      <button type="submit" name="drive" value="tuesday">Tuesday Drive</button>
      <button type="submit" name="drive" value="wednesday">Wednesday Drive</button>
      <button type="submit" name="drive" value="thursday">Thursday Drive</button>
      <button type="submit" name="drive" value="friday">Friday Drive</button>
    </form>






    <form action="/rename/run_rename" method="post">
      <fieldset>
      <legend>Who was there?</legend>
        <div>
          <input type="checkbox" id="Marlon" name="people" value="coding">
          <label for="Marlon">Marlon</label>
        </div>
        <div>
          <input type="checkbox" id="Lauren" name="people" value="Lauren">
          <label for="Lauren">Lauren</label>
        </div>
        <div>
          <input type="checkbox" id="Noelle" name="people" value="Noelle">
          <label for="Noelle">Noelle</label>
        </div>
        <div>
          <input type="checkbox" id="Katie" name="people" value="Katie">
          <label for="Katie">Katie</label>
        </div>
        <div>
          <input type="checkbox" id="Sarah" name="people" value="Sarah">
          <label for="Sarah">Sarah</label>
        </div>
        <div>
          <input type="checkbox" id="Mara" name="people" value="Mara">
          <label for="Mara">Mara</label>
        </div>
        <div>
          <input type="checkbox" id="Mike" name="people" value="Mike">
          <label for="Mike">Mike</label>
        </div>
        <div>
          <input type="checkbox" id="Sadikshya" name="people" value="Sadikshya">
          <label for="Sadikshya">Sadikshya</label>
        </div>
        <div>
          <input type="checkbox" id="other" name="people" value="other">
          <label for="other">Other</label>
          <input type="text" id="otherValue" name="other">
        </div>
        <div>
          <button type="submit">Submit form</button>
        </div>
      </fieldset>
    </form>

  <form action="/rename/run_rename" method="post">
    Enter the complete URL for the shootfolder you'd like run the script on.
    <br />
    <input class="text_box" type="text" name="shootId" value="/Users/mk/Downloads/test">
    <input type="submit" value="GO">
  </form>

  </div>
  </body>
<% include partials/foot.ejs %>
