<!DOCTYPE html>
  <html lang="en-US">
  <head>
    <% include partials/head %>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <p>
      here are the segments currently in the database.
    </p>
    <ul>
    <% for (i=0; i<segment_list.length; i++ ){ %>

    </segment_list.length;>
      <li>
        <%= segment_list[i].shootId + " " + segment_list[i].inPoint  %>

      </li>


  <%  }  %>


    </ul>
  </body>
<% include partials/foot %>
