<!DOCTYPE html>
  <html lang="en-US">
  <head>
    <% include partials/head.ejs %>
  </head>
  <body>
    <% include partials/header.ejs %>
    <p>Welcome to <%= title %></p>
    <p>
    Let's create a shoot.
    </p>
    <h2>shootId</h2>
    <form method="POST" action="/database/shoot/create">
      <div class="form-group">
        <label> Genre:
        </label>
        <input id="shootId" class="form-control" type="text" placeholder="20171201_001_Test_Shoot" name="shootId" value="" />
        <button type="submit">Submit</button>
      </div>
    </form>

  </body>
<% include partials/foot.ejs %>



  form(method='POST' action='')
    div.form-group
      label(for='name') Genre:
      input#name.form-control(type='text', placeholder='Fantasy, Poetry etc.' name='name' value=(undefined===genre ? '' : genre.name))
    button.btn.btn-primary(type='submit') Submit

  if errors
    ul
      for error in errors
        li!= error.msg
