body {
  padding: 50px;
  font: 14px "Avenir Next", "Avenir", sans-serif;
}

h1 {
  font-size: 50px;
  text-transform: uppercase;
  font-weight: 900;
  color: rgba(0, 0, 0, 1);
  margin-bottom: 0px;
}

h1.white {
  color: rgba(255, 255, 255, 1);
}

a {

}

h4 {
  font-size: 16px;
  font-weight: 300;
}

.images {
  width: 65%;
  margin: auto;
  overflow: hidden;
  text-align: center;
}

.image {
  width:100%;
  height: auto;
}

a:hover {
  text-decoration: none;
}

#nav_bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline;
    float: right;
}

li.nav_link {
    float: left;

}

a.nav_link_a {
    display: block;
    color: black;
    padding: 8px;
}

div.content {
  width: 85%;
  margin: auto;
}

input.text_box {
  width: 60%;
  font-family: Menlo;
}

legend {
  font-family: "Avenir Next";
  font-weight: 800;
  font-size: 20px;
  text-transform: uppercase;
  color: black;
}

div.a_form {
  margin-top: 20px;
  margin-bottom: 20px;
}

button {
  font-family: "Avenir Next";
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
}

fieldset {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  background-color: rgba(0, 20, 20, 0.07);
}

.json {
  font-family: "Menlo", monospace;
  font-size: 10px;
}

.fcpxml {
  font-family: "Menlo", monospace;
  font-size: 10px;
}
